@charset "UTF-8";
/* Colors: */
h1 {
  font-size: size(40);
}

/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove focus for mouse users */
/* TODO : améliorer pour les éléments de formulaire */
:focus:not(:focus-visible) {
  outline: none;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin */
:is(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin: 0;
}

/* 2023-01-18 : Modified for CEFIM
Remove list styles, margin and padding on ul, ol elements with a class, which suggests default styling will be removed */
:is(ul, ol):where([class]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
:is(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
:is(h1, h2, h3, h4) {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Anything that has been anchored to should scroll and have extra scroll margin */
:has(:target) {
  scroll-behavior: smooth;
  scroll-margin-block: 2.5em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS Debugger */
* {
  /* outline: 1px solid red; */
}

img:not([alt]) {
  border: 10px solid red !important;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Print external URLs */
@media print {
  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kumbh-sans-v22-latin-regular.woff2") format("woff2");
}
/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kumbh-sans-v22-latin-700.woff2") format("woff2");
}
header {
  display: flex;
  justify-content: space-between;
  background-image: url(../../img/background-pattern-header.svg);
  background-repeat: no-repeat;
  height: 8.5rem;
  background-position: left -45px top 0;
  object-fit: cover;
}
header .logo {
  margin-bottom: 4.5rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  align-items: center;
  color: #FFFFFF;
}
header .logo h1 {
  font-size: 1.75rem;
  line-height: 2.125rem;
}
header .toggle-menu {
  margin-top: 2.25rem;
  margin-right: 1.5rem;
  margin-bottom: 4.75rem;
}
header .toggle-menu .toggle {
  background-color: white;
  border-radius: 12px;
}
header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Kumbh Sans";
  font-weight: bold;
}

body {
  background-color: #F4F6F8;
  font-family: "Kumbh Sans";
}

.container {
  padding-inline: clamp(1.5rem, -1.603rem + 13.239vw, 10.313rem);
}

.research-form {
  display: flex;
}

.title-search {
  width: 100%;
  border: none;
  text-indent: 1.25rem;
}
.title-search img {
  color: white;
}

.form-input {
  transform: translateY(-50%);
  width: 100%;
  margin-inline: auto;
  justify-content: space-between;
  height: 5rem;
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 0.375rem;
  align-items: center;
  overflow: hidden;
}

.btn-search {
  min-width: 3rem;
  margin: 1rem;
  background-color: #5964E0;
  border-radius: 0.3125rem;
  padding: 0.875rem;
  border: none;
  cursor: pointer;
}

.location {
  margin: 24px;
}

.img-filter {
  cursor: pointer;
}

.cbx {
  position: relative;
  top: 1px;
  width: 27px;
  height: 27px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
  background-color: #979797;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #6871f1;
  animation: jelly 0.6s ease;
}

#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  position: relative;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
.hidden-xs-up {
  display: none !important;
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  border-radius: 6px;
  margin: auto;
  width: 87%;
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
}
.modal .full-time-location {
  border: none;
  width: 100%;
}

.location-content {
  display: flex;
  border-bottom: 1px solid #9DAEC2;
}

.location {
  margin: 1.5rem;
  margin-right: 1rem;
}

.input-location {
  border: none;
}

.full-time-search {
  opacity: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.search-button {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  width: 87%;
  padding: 1rem;
}

.fts-input {
  display: flex;
  align-items: center;
  margin: 1.5rem;
}

.fts-content {
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

.search-hidden {
  display: none;
  overflow: hidden;
}

.jobs-card {
  background-color: #FFFFFF;
  border-radius: 6px;
  display: grid;
  grid-template-areas: "logo" "infos" "titre" " description" "location ";
  margin-top: 4.5rem;
}

.jobs-logo {
  transform: translateY(-50%);
  margin-left: 2rem;
  grid-area: logo;
}

.jobs-infos {
  margin-top: 3.125rem;
  margin-left: 2rem;
  grid-area: infos;
  display: flex;
}

.jobs-median {
  padding-inline: 0.75rem;
}

.jobs-title {
  margin-block: 0.75rem;
  margin-left: 2rem;
  grid-area: titre;
}

.jobs-description {
  margin-left: 2rem;
  margin-block-end: 2.5rem;
  grid-area: description;
}

.jobs-location {
  margin-block-end: 2rem;
  margin-left: 2rem;
  grid-area: location;
}

/*# sourceMappingURL=style.css.map */
