.jobs-description-card {
    width: 100%;
    display: flex;
    transform: translateY(-20%);
    background-color: $white;
    justify-content: space-between;
    border-radius: 6px;
    max-height: 8.75rem;
}

.description-container {
    background-color: $white;
    padding: 3rem;
}
.jobsinfos-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .linklogo {
    display: flex;
    margin-bottom: 4.5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    align-items: center;
    color: #FFFFFF;
}
.linklogo {
    display: flex;
    align-items: center;
}

.btn-company {
    border: none;
    color: $violet;
    font-weight: bold;
    padding-inline: 1.25rem;
    padding-block: 1rem;
    background-color: $light-grey;
    border-radius: 6px;
    align-items: center;
    margin: 2.875rem;
}

.btn-company:hover {
    cursor: pointer;
    background-color: rgba(89, 100, 224, 0.5);
}



.jobsinfos-company {
margin-inline-start: 2.5rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.jobsinfos-company .name {
    font-weight: bold;
    font-size: 1.5rem;
}

.jobsinfos-company .link {
    color: $dark-grey;
}


.jobs-description-infos {
    display: flex;
    color: $dark-grey;
}
.jobs-description-title {
    font-size: 1.25rem;
    color: $very-dark-blue;
    font-weight: bold;
    margin-block: .75rem;
}

.titleinfos-content {
    display: flex;
    justify-content: space-between;
}

.btn-apply {
    display: flex;
    max-height: 3rem;
    font-weight: bold;
    border: none;
    color: $white;
    background-color: $violet;
    border-radius: .375rem;
    padding-block: 1rem;
    padding-inline: 1.75rem;
    align-items: center;
}

.btn-apply:hover {
    cursor: pointer;
    background-color: $light-violet;
}

 .link-apply {
    text-decoration: none;
}
.jobs-description-location {
    color: $violet;
    font-weight: 700;
    font-size: .875rem;
    margin-block-end: 2.5rem;
}

.jobs-description-requirements {
    color: $dark-grey;
    margin-block-end: 2.5rem;
}

.list-requirement {
    color: $dark-grey;
    margin-block: .5rem;
}

.ulist {
    list-style-type: disc;
}

.ulist .list-requirement {
    margin-inline-start: 20px; 
}

.olist .list-requirement {
    margin-left: 1rem;
    list-style-type: decimal;
    padding-inline-start: 1.5625rem;

}


.list-requirement::marker{
    size: 1.5rem;
    font-weight: 700;
    color: $violet;
}


h3 {
    margin-block-start: 2.5rem;
    margin-block-end: 1.75rem;
}


.role-textcontent {
    color: $dark-grey;
    margin-inline-end: 1.5rem;
}


.input-darkmode {
    background-color: $very-dark-blue;
}

.btn-companydark {
background-color: #303642;
color: $white;
}

@media (prefers-color-scheme: light) {
    .btn-companydark {
        background-color: $light-grey;
        color: $white;
        }
}

.white {
    color: $white;
}

.footer-container {
    background-color: $white;
}


.footer-wrapper {
    padding-block: 1.4375rem;
    padding-inline: clamp(1.5rem, -1.603rem + 13.239vw, 10.313rem);
    margin: auto;
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.footer-infos {
    display: grid;
    align-items: center;
}
.footer-container .footer-infos h3 {
    position: relative;
    margin-block-end: .4375rem; 
    top: -0.4rem;
}

.footer-container .footer-link {
    display: flex;
    align-items: center; 
}

.footer-container .footer-link .btn-apply {
    background-color: #5964e0; 
    color: #fff;
    padding: 0.75rem 1.5rem; 
    border: none; 
    border-radius: 0.375rem; 
    cursor: pointer; 
}

.footer-container .footer-link .btn-apply:hover {
    background-color: $light-violet;
}

.footer-name {
    color: $dark-grey;
}
