.main-darkmode {
    background-color: $midnight;
}

.white {
    color: $white;
}

.input-darkmode {
    background-color: $very-dark-blue;
    color: $white;
}

.filter-svg {
    filter: brightness(0) invert(1)
}


.jobs-card-darkmode {
    background-color: $very-dark-blue;
}


.jobs-title-darkmode {
    color: $white;
}