.search-bar-desktop-tablet{
    display: none;
}
.research-form { 
    display: flex;
}


.title-search {
    width: 100%;
    border: none;
    text-indent: 1.25rem;
    img {
        color: white;
    }
}



.form-input {
    transform: translateY(-50%);
    width: 100%;
    margin-inline: auto;
    justify-content: space-between;
    height: 5rem;
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: .375rem;
    align-items: center;
}

.form-input:hover {
    cursor: pointer;
}
.title-search:hover {
    cursor: pointer;
}
.checkbox:hover {
    cursor: pointer;
}
.btn-search {
    min-width: 3rem;
    margin: 1rem;
    background-color: $violet;
    border-radius: .3125rem;
    padding: .875rem;
    border: none;
    cursor: pointer;
   }


   .location {
    margin: 24px;
   }

   .img-filter {
    cursor: pointer
   }

   @include mq('md'){


   }

@include mq('xl'){
  
    .search-bar-mobile{
        display: none;
    }
    .search-bar-desktop-tablet {
        display: block;
        transform: translateY(-50%);
    }
    .search-bar-desktop-tablet-container{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr; 
        grid-gap: 10px;
        background-color: $white;
        border-radius: .375rem;
    }


    .border {
        border-right: 1px solid ;
        border-color: rgba(244, 246, 248, 0.5);;
    }


    .fts-input {
        border-left: 1px solid ;
        border-color: rgba(244, 246, 248, 0.5);;
    }

    }
    .search-bar-desktop-tablet-container .input-wrapper{
        border-bottom: none;
        display: flex;
        align-items: center;
        
      
    }
   
    .search-bar-desktop-tablet-container .input-wrapper input{
        margin: auto;
        padding-inline-end: 3rem;
    }

    .form-wrap {
        padding-inline: 2rem;
        display: flex;
        justify-content: flex-end;
    }
    .search-bar-desktop-tablet-container .fts-input{
        margin:0;
        padding: 1rem;
    }
    .search-bar-desktop-tablet-container .btn-search-desktop{
       margin:1rem;
       max-width: 7.6875rem;
    }

    .search-bar-desktop-tablet .location {
        background-color: $white;
        border-radius: 6px;        
    }


    #title-search-desktop::placeholder{
        content:"Filter by title, companies, expertise…"
    }
