
.research-form { 
    display: flex;
}

.title-search {
    width: 100%;
    border: none;
    text-indent: 1.25rem;
    img {
        color: white;
    }
}

.form-input {
    transform: translateY(-50%);
    width: 100%;
    margin-inline: auto;
    justify-content: space-between;
    height: 5rem;
    display: flex;
    padding: 1rem;
    background-color: white;
    border-radius: .375rem;
    align-items: center;
}

.form-input:hover {
    cursor: pointer;
}
.title-search:hover {
    cursor: pointer;
}
.checkbox:hover {
    cursor: pointer;
}
.btn-search {
    min-width: 3rem;
    margin: 1rem;
    background-color: $violet;
    border-radius: .3125rem;
    padding: .875rem;
    border: none;
    cursor: pointer;
   }


   .location {
    margin: 24px;
   }

   .img-filter {
    cursor: pointer
   }

