
// ************ HEADER ************ 
header { 
    display: flex;
    justify-content: space-between;
    background-image: url(../../img/background-pattern-header.svg);
    background-repeat: no-repeat;
    height: 8.5rem;
    background-position: left -45px top 0;
    object-fit: cover;
    
    .logo {
        margin-bottom: 4.5rem;
        margin-top: 2rem;
        margin-left: 1.5rem;
        align-items: center;
        color: $white;
        h1 {
            font-size: 1.75rem;
            line-height: 2.125rem;
        }
       
    }

    .toggle-menu {
        margin-top: 2.25rem;
        margin-right: 1.5rem;
        margin-bottom: 4.75rem;
        .toggle {
            background-color: white;
            border-radius: 12px;
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

:is(h1,h2,h3,h4,h5,h6) {
    font-family: 'Kumbh Sans';
    font-weight: bold;
}

.toggle-menu .checkbox {
    position: relative;
    appearance: none;
    height: 1.5rem;
    width: 3rem;
    background-color: $white;
    border-radius: 5rem;
    transition: background-color .2s;
    box-shadow: 0 0 15px #0000001e;
}

 .checkbox::after {    
    content: '';
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50% -50%);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: $violet;
    transition: left .2s;

}


.checkbox:checked::after {
    left: 50%;
}

.checkbox:hover::after {
    background-color: $light-violet;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}
.toggle-menu {
    display: flex;
    align-items: center;
}
.toggle-menu img {
    margin-right: 5px;
}
.toggle-content {
    display: none;
}
.checkbox:checked + .toggle-content {
    display: block;
}
.checkbox-content {
    display: none;
}
.checkbox:checked + .toggle-content + .checkbox-content {
    display: block;
}