
// ************ HEADER ************ 
header { 
    display: flex;
    justify-content: space-between;
    background-image: url(../../img/background-pattern-header.svg);
    background-repeat: no-repeat;
    height: 8.5rem;
    background-position: left -45px top 0;
    object-fit: cover;
    
    .logo {
        margin-bottom: 4.5rem;
        margin-top: 2rem;
        margin-left: 1.5rem;
        align-items: center;
        color: $white;
        h1 {
            font-size: 1.75rem;
            line-height: 2.125rem;
        }
       
    }

    .toggle-menu {
        margin-top: 2.25rem;
        margin-right: 1.5rem;
        margin-bottom: 4.75rem;
        .toggle {
            background-color: white;
            border-radius: 12px;
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

#location-search {
    text-indent: 20px;
}

:is(h1,h2,h3,h4,h5,h6) {
    font-family: 'Kumbh Sans';
    font-weight: bold;
}






