
.jobs-card {
    background-color: $white;
    border-radius: 6px;
    display: grid;
    grid-template-areas: 
    "logo"
    "infos"
    "titre"
    " description"
    "location ";
    margin-top: 4.5rem
}

.jobs-logo {
    padding-block: .75rem;
    padding-inline: 0.25rem;
    transform: translateY(-50%);
    margin-left: 2rem;
    grid-area: logo;
    border-radius: 15px;
}

.jobs-infos {
    color: $dark-grey;
    margin-left: 2rem;
    grid-area: infos;
    display: flex;
}

.jobs-company {
    margin-block-end: 2.5rem;
    margin-left: 2rem;
    color: $dark-grey;

}

.jobs-median {
    font-size: 50px;
    margin-inline: .75rem;
    line-height: 16px;
    color: $dark-grey;
}
.jobs-title {
    font-size: 1.25rem;
    color: $very-dark-blue;

    font-weight: bold;
    margin-block: .75rem;
    margin-left: 2rem;
    grid-area: titre;
}

.jobs-description {
    margin-left: 2rem;
    margin-block-end: 2.5rem;

    grid-area: description;
}

.jobs-location {
    font-size: .875rem;
    font-weight: bold ;
    color: $violet;
    margin-block-end: 2rem;
    margin-left: 2rem;
    grid-area: location;
}


.template {
    display: none;
}


#loading-indicator {
    display: none;
}

