
body {
    font-family: 'Kumbh Sans';
}
.container { 
    padding-inline: clamp(1.5rem, -1.603rem + 13.239vw, 10.313rem);

}

main {
    background-color: $light-grey;
}

.btn-content {
    display: flex;
    justify-content: center;
}


.btn-loadmore {
    margin-block-start: 2rem;
    margin-block-end: 4rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: $white;
    border-radius: 5px;
    border: none;
    background-color: $violet;
    padding-inline: 1.875rem;
    padding-block: 1rem;
}

.lien-detail {
    text-decoration: none;
}