$base-size: 16;


    /* Colors: */
    $dark-grey: #6E8098;
    $grey: #9DAEC2;
    $light-grey: #F4F6F8;
    $white: #FFFFFF;
    $midnight: #121721;
    $very-dark-blue: #19202D;
    $light-violet: #939BF4;
    $violet: #5964E0;

